.formOperacionalEmprestimo {
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 224, 225);
    padding: 5px 20px 25px 15px;
}

.boxGeralOperacionalEmprestimo {
    display: flex;
    flex-direction: row;
}

.formOperacionalEmprestimo label {
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    padding: 3px;
}

#inputCliente {
    width: 300px;
}

.boxRight {
    display: flex;
    flex-direction: column;
}

.boxLeft {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.boxCol {
    display: flex;
    flex-direction: column;
}

.boxRow {
    display: flex;
    flex-direction: row;
}

.boxResumoOpE {
    display: flex;
    flex-direction: column;
    background-color: rgb(185, 185, 188);

    padding: 0px 0px 0px 12px;
}

#obsEmprestimo {
    height: 40px;
    padding: 10px;
    width: 95%;
}

.gridEmprestimo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    background-color: rgb(185, 185, 188);

    margin-top: 20px;
}

#divResultadoEmprestimo {
    max-height: 150px;
    overflow: scroll;
}

.gridLinha {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #fff;
}

.gridLinha:hover {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #035ff3e7;
    color: #fff;
}

.gridLinhaPago {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #d7e0f0;
}
.gridLinhaPago:hover {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #035ff3e7;
    color: #fff;
}

.gridLinhaPagoParcial {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #f2efc5;
}
.gridLinhaPagoParcial:hover {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #035ff3e7;
    color: #fff;
}

#inputCnpjCpfCredor {
    max-width: 150px;
}

#inputCredor {
    width: 250px;
}

#inputJurosMensal {
    max-width: 60px;
    background-color: rgb(160, 200, 241);
}
#inputJurosDiario {
    max-width: 60px;
    background-color: rgb(160, 200, 241);
}

#inputValorEmprestimo {
    max-width: 100px;
}
#inputQtdParcelas {
    max-width: 100px;
}
#inputIntervalo {
    max-width: 100px;
}
#inputValorParcela {
    max-width: 100px;
    background-color: rgb(160, 200, 241);
}

#inputIdClienteEmprestimo {
    max-width: 60px;
}

#btnGravarEmprestimo {
    margin: 15px;
}
#btnImprimir {
    margin: 15px;
}

#iconeDollarPagar {
    cursor: pointer;
    width: 35px;
}

@media only screen and (max-width: 700px) {
    .boxGeralOperacionalEmprestimo {
        flex-direction: column;
    }

    #obsEmprestimo {
        height: 100px;
        padding: 10px;
        width: 95%;
    }

    .boxResumoOpE {
        display: flex;
        flex-direction: row;
        background-color: rgb(185, 185, 188);
        padding: 0px 0px 0px 12px;
    }
}
