.formOperacaoCheque {
    display: flex;
    flex-direction: row;
    background-color: rgb(223, 224, 225);
    padding: 20px;
}

.formOperacaoCheque label {
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    padding: 3px;
    margin-left: 5px;
}

.boxOpChequeRight {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 20px;
    background-color: rgb(185, 185, 188);
}

.boxResumo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 10px;
}

#inputId {
    width: 50px;
}

#inputCliente {
    width: 350px;
}

.boxResumo input {
    width: 100px;
}

.boxRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxCol {
    display: flex;
    flex-direction: column;
}

#inputDataBase {
    width: 110px;
}

#inputTxTed {
    width: 100px;
}

#inputJurosM {
    width: 100px;
}

#inputJurosD {
    width: 100px;
}

#inputNbco {
    width: 30px;
}

#inputBanco {
    width: 200px;
}

#inputAgencia {
    width: 60px;
}

#inputNcheque {
    width: 150px;
}

#inputCpfCnpj {
    width: 145px;
}

#inputNomeC {
    width: 300px;
}

#inputVencimento {
    width: 110px;
}

#inputValorC {
    width: 100px;
}

#inputDias {
    width: 30px;
}

#inputValorJuros {
    width: 100px;
}

#inputValorLiquido {
    width: 100px;
}

#imPlus {
    font-size: 30px;
    color: blue;
    padding: 5px 15px 15px;
    cursor: pointer;
}

.gridCheque {
    display: grid;
    grid-template-columns: 80px 200px 1fr 200px 1fr 1fr 100px 100px 1fr 100px 1fr;
    background-color: rgb(185, 185, 188);
    margin-top: 20px;
    gap: 15px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 1370px;
}

.gridLinhaCheque {
    display: grid;
    grid-template-columns: 80px 200px 1fr 200px 1fr 1fr 100px 90px 1fr 90px 1fr;
    text-transform: uppercase;
    gap: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    min-width: 1354px;
    max-width: 1354px;
}

.gridLinhaCheque:hover {
    display: grid;
    grid-template-columns: 80px 200px 1fr 200px 1fr 1fr 100px 90px 1fr 90px 1fr;
    text-transform: uppercase;
    gap: 15px;
    background-color: rgb(223, 224, 225);
    padding-left: 5px;
    padding-right: 5px;
    min-width: 1354px;
    max-width: 1354px;
}

.containerCheques {
    max-height: 230px;
    overflow: scroll;
}

.buttonTab {
    background-color: darkgrey;
    margin: 10px 10px 0 0;
    color: black;
}

@media only screen and (max-width: 700px) {
    .formOperacaoCheque {
        flex-direction: column;
    }
    .boxResumo {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        max-width: 300px;
    }
    .boxOpChequeRight {
        align-self: flex-start;
    }
}
