.gridCheque {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    background-color: rgb(185, 185, 188);

    margin-top: 20px;
    margin-right: 50px;
}

.gridLinhaCheque {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
