.gridTituloListaClientes {
    display: grid;
    grid-template-columns: 90px 250px 120px 90px 90px 100px;
    background-color: rgb(225, 224, 223);
}

.gridListaClientes {
    display: grid;
    grid-template-columns: 90px 250px 120px 90px 90px 100px;
    text-transform: uppercase;
}

.gridListaClientes:hover {
    display: grid;
    grid-template-columns: 90px 250px 120px 90px 90px 100px;
    background-color: rgb(225, 224, 223);
    text-transform: uppercase;
}

.gridContainerListaCientes {
    display: flex;
    flex-direction: column;

    max-height: 430px;
    overflow: scroll;
}
