.divPagamentoEmprestimo {
    position: fixed;
    z-index: 999;
    top: 20vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(142, 151, 161);
    padding: 20px;
    justify-content: center;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#divListaPagamentoParcela {
    background-color: #fff;
    margin-top: 10px;
}

#divParcela {
    justify-content: space-between;
}

#divItemPgtoEmprestimo:hover {
    background-color: #035ff3e7;
    color: #fff;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#divItemPgtoEmprestimo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2px 5px 2px 5px;
}

#btnConfirmaExclusao {
    background-color: rgb(210, 30, 30);
    min-width: 400px;
    margin-bottom: 10px;
}
