:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(19, 18, 18, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #02041b;
    text-decoration: inherit;
}
a:hover {
    color: #060687;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    color: #828289;
    margin: 0;
}

button:hover {
    border-color: #4e9fe6;
}
button:focus,
button:focus-visible {
    outline: 6px auto -webkit-focus-ring-color;
}

textarea {
    background-color: #fefeff;
}

textarea:focus {
    outline: 4px auto #4e9fe6;
}

label {
    font-size: 1em;
    margin: 0px 7px 0px 7px;
    font-weight: 500;
    font-family: inherit;
    padding: 3px;
    color: #595656;
}

select {
    border: 0;
    border-radius: 2px;
    padding: 0.2em 0.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    max-width: 500px;
    color: #585353;
}

.icone {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 7px 0px 7px;
}

.icone2 {
    color: #585353;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 7px 0px 7px;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.inputData {
    max-width: 115px;
}

input {
    border: 0;
    border-radius: 2px;
    padding: 0.2em 0.5em;
    margin: 0px 7px 5px 7px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;

    color: #585353;
    background-color: #fefeff;
    text-transform: uppercase;
}

input:focus {
    outline: 4px auto #4e9fe6;
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #ffffff;
        font-size: 1em;
        font-weight: 500;
    }
    a:hover {
        color: #4e9fe6;
    }
    button {
        border-radius: 6px;
        border: 2px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #035ff3e7;
        color: #ffffff;
        cursor: pointer;
        transition: border-color 0.25s;
    }
}

ul {
    background-color: rgb(223, 224, 225);
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 224, 225);
    padding: 20px;
}
