.divRelatorioEmprestimoData {
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 224, 223);
}

#divCheckbox {
    padding-top: 10px;
}

#checkRel {
    margin-bottom: 17px;
    color: blueviolet;
}

#divTituloRelatorio {
    background-color: rgb(185, 185, 188);
    text-align: center;
}

#divBtnRel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 22px;
}

#divCentralizada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
