.divTituloTela {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    padding: 5px;
}

#labelTituloTela {
    font-size: 2em;
    color: #828289;
    margin: 0;
}

#iconeExitTitulo {
    font-size: 35px;
    padding-top: 10px;
    padding-left: 25px;
}

#linkSair:hover {
    text-decoration: none;
    color: rgb(29, 62, 90);
}
